src/main/mule/process-com-mea-order-fulfillment-api-dev.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="com-mea-api-order-fulfillment-main">
        <http:listener config-ref="com-mea-api-order-fulfillment-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[correlationId]" doc:name="Set Variable" doc:id="f216d2cb-af4e-4f14-91f6-3002283d2243" variableName="messageId" />
        <logger level="INFO" doc:name="Logger" doc:id="a243876b-1d76-4dc9-afff-a30600f34d70" message="Request received for transaction #[vars.messageId] :: #[payload]" />
        <apikit:router config-ref="com-mea-api-order-fulfillment-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-variable value="#[error.description]" doc:name="Set Variable" doc:id="b1cf02c9-0a89-4e87-99b4-87e3b3e508fb" variableName="errorDescription"/>
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": vars.errorDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable value="#[error.description]" doc:name="Set Variable" doc:id="05d985fe-6ea7-4d9f-b7c0-e4636cb20be3" variableName="errorDescription"/>
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="48d5eff3-72cd-4be1-9f9a-f0f659857889">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": vars.errorDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-variable value="#[error.description]" doc:name="Set Variable" doc:id="7c1de68d-74b6-4bac-b953-66c6b65ce125" variableName="errorDescription"/>
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": vars.errorDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-variable value="#[error.description]" doc:name="Set Variable" doc:id="adcb985d-d3e9-4ed1-bf59-a06c57919989" variableName="errorDescription"/>
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": vars.errorDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-variable value="#[error.description]" doc:name="Set Variable" doc:id="b421f837-ad07-4d8b-bd6d-b270dee9142d" variableName="errorDescription"/>
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": vars.errorDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-variable value="#[error.description]" doc:name="Set Variable" doc:id="32275d8e-1c8b-40d2-a4f6-444ce8d9be41" variableName="errorDescription"/>
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": vars.errorDescription
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="com-mea-api-order-fulfillment-console">
        <http:listener config-ref="com-mea-api-order-fulfillment-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="com-mea-api-order-fulfillment-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\delivery_status\update:application\json:com-mea-api-order-fulfillment-config">
		<logger level="INFO" doc:name="Logger" doc:id="acf3995f-6730-46dc-8289-bcb6f598e7b4" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="1df21bd1-090c-46d9-afd2-d5126786689a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
"appointmentID":payload.appointmentID,
"orderID":payload.orderID,
"deliveryStatus":"initial",
"remark":"All items delivered."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="put:\serial_number\update:application\json:com-mea-api-order-fulfillment-config">
		<logger level="INFO" doc:name="Logger" doc:id="bfa57654-51e0-4785-8bca-9ee17c51c6d2" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="84025b51-958e-45ce-8f62-a768c8df9ac0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
"appointmentID":payload.appointmentID,
"orderID":payload.orderID,
"remark":" ",
"orderItem":[
	{
		"orderItemNo":2,
		"itemCode":"2088431",
		"quantity":2,
		"serials":[
			{
				"sequence":1,
				"serial":"so01"
			},
			{
				"sequence":2,
				"serial":"so02"
			}]
}]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
